<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="ImageConfigSection"
             type="Downsize.ImageConfigSection,Downsize,Culture=neutral,PublicKeyToken=null" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <ImageConfigSection>
    <ImageCollection>
      <!--
	    key: Just for understanding which is which
      
      pathFormat:
          Index 0: root path
          Index 1: file name
          
      scale: The number to divide the original resolution by
      -->
      <add key="ldpi"     pathFormat="{0}\Android\drawable-ldpi\{1}"   scale="4" />
      <add key="mdpi"     pathFormat="{0}\Android\drawable-mdpi\{1}"   scale="3" />
      <add key="hdpi"     pathFormat="{0}\Android\drawable-hdpi\{1}"   scale="2" />
      <add key="xhdpi"    pathFormat="{0}\Android\drawable-xhdpi\{1}"  scale="1.5" />
      <add key="xxhdpi"   pathFormat="{0}\Android\drawable-xxhdpi\{1}" scale="1" />
      <add key="iOS@1x"   pathFormat="{0}\iOS\{1}"                     scale="3" />
      <add key="iOS@2x"   pathFormat="{0}\iOS\{1}@2x"                  scale="1.5" />
      <add key="iOS@3x"   pathFormat="{0}\iOS\{1}@3x"                  scale="1" />
    </ImageCollection>
  </ImageConfigSection>
</configuration>